body {
  display: flexbox;
  text-align: center;
  width: 100%;
  height: 100%;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/*Navbar*/
.navbar {
  padding: 0 2rem 0.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 3rem;
  font-weight: 800;
  margin-left: 11%;
}

.navbar-text {
  display: flex;
  flex: 1 1 auto;
  justify-content: flex-end;
  margin-right: 12%;
  padding-left: 6%;
  font-size: 14px;
}

.nav-item {
  padding: 0 12px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

.colored-section1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
  padding-bottom: 10px;
  background: linear-gradient( #035397, #348dda);
}

/*Intro*/
.intro {
  height: 320px;
  color: white;
  padding-right: 6%;
}

.col-lg-6 {
  padding: 15% 0% 3%;
  font-family: sans-serif;
}

.col-lg-6 h2 {
  margin: 0% 0% 10%;
}

.lead {
  padding: 0 8% 0;
}

/*Experience*/
.myexperience {
  padding-bottom: 2%;
}

.experience {
  height: 300px;
}

.colored-section {
  background-color: #035397;
  height: 300px;
  padding-top: 3%;
  line-height: 1.5;
}

.card {
  color: #5089c6;
}

.card-header {
  color: #5089c6;
}

.card-color {
  color: #5089c6;
}

.card-body {
  color: #5089c6;
}

/*Contact*/
.contact-me {
  padding: 8% 0 0;
  height: 100px;
}

.colored-section2 {
  background-color: #035397;
  height: 80px;
  padding: 0 0 5%;
  width: 100%;

}

colored-section3 {
  background-color: #faedf0;
  height: 50px;
}

.btn {
  padding-bottom: 80px;
}

.container-fluid {
  
  padding: 0% 0% 0%;
}

.white-section {
  background-color: #90aacb;
  height: 60px;
  width: 100%;
}

.footer {
  padding: 0 0 0;
}

/* Animations */
.animate__animated.animate__fadeIn {
  --animate-duration: 2s;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.fade-in.appear {
  opacity: 1;
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
}

@media (max-device-width: 218px) and (max-device-height: 281px) {
}
